.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: black; */
}

.middle {
  overflow-y: auto;
  flex-grow: 1;
}

.top {
  /* margin: 10px auto; */
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
}

.top > .img {
  flex: 0.2;
}

.top > .img > img {
  margin-left: 10px;
  height: 300px;
  width: 150px;
  object-fit: contain;
}

.top > form {
  flex: 0.8;
}
.top > form > input {
  margin: auto;
  width: 80%;
  font-size: 0.9rem;
  font-weight: 700;
  display: block;
  outline: none;
  border: none;
  background-color: #181818;
  padding: 7px 9px;
  color: white;
}

.middle {
  background: linear-gradient(rgb(91, 87, 115), black);
}

.imageshow {
  display: flex;
  /* align-items: center; */
}
.image {
  flex: 0.4;
}
.image > img {
  margin-top: 30px;
  height: 440px;
  margin-left: auto;
  width: 500px;
  object-fit: contain;
}

.lyrics {
  height: 440px;
  margin-top: 10px;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: lightgray;
  text-align: center;
  white-space: pre;
  flex: 0.6;
  font-size: 1.1rem;
}

hr,
.hr {
  margin-top: 10px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  color: lightgray;
}
.lyrics > h1 {
  text-decoration: underline;
}
.lyrics > p {
  margin-bottom: 20px;
}
.welcome {
  display: grid;
  place-items: center;
  height: 80vh;
  white-space: pre;
  margin: auto;
}

.welhead > h1 {
  color: white;
  font-size: 2rem;
}

.lyrics > h1 {
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .imageshow {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    align-items: center;
  }

  .image > img {
    margin-top: 30px;
    height: 550px;
    margin-left: auto;
    width: 360px;
    object-fit: contain;
  }

  .lyrics {
    display: flex;

    align-items: center;
    justify-content: center;
    color: lightgray;
    text-align: center;
    white-space: pre;
    flex: 0.6;
    font-size: 0.8rem;
  }
}
