.login {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: black;
}

.login > img {
  height: 300px;
  width: 400px;
  object-fit: contain;
}

.login > a > button {
  padding: 15px;
  border-radius: 9px;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  background-color: #1ed761;
  color: white;
  outline: none;
  cursor: pointer;
}

.login > a > button:hover {
  background-color: #1db954;
  transition: 200ms ease-in;
}
