.displaysong {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  cursor: pointer;
}

.text-part {
  margin-left: 10px;
}
.name {
  color: white;
  font-weight: 600;
}

.artist {
  font-size: 0.8rem;
  color: lightgray;
}

.displaysong:hover {
  transition: 200ms ease-in-out;
  background-color: black;
}
